*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

.container {
    max-width: 1170px;
    margin: auto;

}
h1{
    text-align:center;
    margin-bottom: 2em;
    

}
p{
    text-align: center;
}

 img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
   
 }

.card{
    width: 700px ;
   
}    
    
    
    


.clearfix::after{
    content:"" ;
    clear: both;
    display: table;
}
.riga{
    float: left;
    width: 33%;
    text-align: center;
    
}