*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

.container {
    max-width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}



h1{
    text-align:center;
    margin-bottom: 2em;
    color:#e53170 ;
}


img{
    width: 100px;
    height: 100px;
       
 }
 
 
 .card{
    width: 100% ;
    
}  
    
 
.clearfix::after{
    content:"" ;
    clear: both;
    display: table;
}

.riga{
    float: left;
    width: 30%;
    margin-left:3%; 
    margin-top:5% ;
    background-color: black;
    height: 100px;
    box-shadow: 0px 0px 10px black;
     
}
    
    
.foto {
   
    float:left;
}   
h5{
    
    margin-top: 10px;
    font-weight:normal ;
    
   
    
    
}

h6{
  color: #36a9f4;
  margin-top: 10px;
  
    
}
h4{
 text-transform: uppercase;
     
}

.contenuto {
    
    
    float: left;
    padding:10px 10px ;
    color:white;
    text-align: left;
}
